.navbar-lewagon {
  background-color: transparent;
}

.nav-link{
  color: #fff
}
.nav-link:hover{
  color: #03e9f4;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #03e9f4;
}

.fa-hashtag {
  font-size: x-large;
  }

.navbar-lewagon .dropdown-menu {
  background-color: #162033;
  border: none;
  color: #fff;
}

.navbar-lewagon .dropdown-item {
  background-color: transparent;
  color: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
